body{
    background-image: url("ChessSetpic.jpg");
    background-size: cover;
    text-align: center;
    color: red;
}
h1{
    font-size: 50px;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: underline;
}
p{
    color: purple;
    font-size: 20px;
    font-weight: bold;
}